bin
Bin
obj
Obj
bin/*
Bin/*
obj/*
Obj/*
*/bin
*/Bin
*/obj
*/Obj
*.bak
*.Bak
*.*scc
*.user
*.suo
*.webinfo
*.pdb
*_resharper.*
*_Resharper.*
*.resharper
*.Resharper
*.scc
*.ssmssuo
*.vbw
_ReSharper.*
StyleCop.Cache
